.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* custom css style start */

.curdDiv{
  background: #17A05D;
  height: 182px;
  width: 274px;
  padding: 10px;
  margin: 3px;
  float: left;
  color: #fff;
  border-radius: 21px 15px 22% 0;
}

.username{
  font-size: 1.2rem;
  margin: 6px 0 0 0;
  text-transform: uppercase;
  font-weight: bold;
}

.userstudy{
  color:#000;
  margin: 6px 0 0 0;
}

.userjob{
  margin: 6px 0 0 0;

}

.deleteUser{
  background:#DC4E41;
  color:#fff;
  padding:4px 10px;
  border: 2px solid #fff;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  margin: 22px 0 0 0;
  cursor: pointer;
}

.editUser{
  background: #fff;
  color: #17A05D;
  padding: 5px 23px 3px;
  border: 2px solid #fff;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  margin: 22px 8px 0 0px;
  float: left;
  cursor: pointer;

}


.formDiv{
  background: #263238;
  color:#fff;
  margin: auto;
  width: 50%;
  height: 250px;
  text-align: center;
  padding: 50px;
  margin-bottom: 30px;
}

.formDiv form{
  display: inline-block;
  margin: auto;
  text-align: center;
  float: inherit;
}

.formDiv form input{
  padding: 5px;
  margin: 3px;
  border: 2px solid rgba(255,255,255,0.7);
  border-radius: 10px 0 10px 0;
  width: 577px;
  text-align: center;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: bold;
}

.rightDiv{
  width: 100%;
  background: #E7EAED;
  border: 3px solid rgba(38,50,56,0.7);
  padding: 50px;
  overflow: hidden;
}

.fetchedData{
  font-style: italic;
  font-weight: bold;
  border: 4px solid #69BB6F;
  display: inherit;
  width: 500px;
  margin: auto;
  height: 51px;
  text-align: center;
  text-align-last: auto;
}


.addInfo{
  background: #17A05D;
  color: #fff;
  font-size: 1.5rem;
  font-style: italic;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 3px;
  border: none;
  margin: 29px 0 0 0;
  padding: 5px 56px;
  border-radius: 47px 0 46px;
  cursor: pointer;

}


.headLine{
  margin: 0 0 21px;
  font-style: italic;
  letter-spacing: 17px;
}

.number{
  height: 26px;
  width: 26px;
  background: #fff;
  color: #169D5A;
  text-align: center;
  border-radius: 100%;
  padding: 6px 6px 0 0;
  display: block;
  font-weight: bold;

}

/* custom css style end */